/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

//Layer definitions
#define QWERTY 0
#define COLEMAK 1
#define NUM 2
#define NAV 3
#define SYM 4
#define FUN 5
#define AOE 6
#define AOERAISE 7
#define GAME 8
#define GAMERAISE 9
#define ADJUST 10

/ {
	keymap {
		compatible = "zmk,keymap";

		qwerty {
	// GASC home row mods. Layer key mods. Mod tap for zxcv. Mod tap for backspace/shift
	// ----------------------------------------------  ------------------------------------------------
	// |    |  Q  |  W  |  E  |  R  |  T  |                      |  Y  |  U  |  I  |  O  |  P  |      |
	// |    |  A  |  S  |  D  |  F  |  G  |                      |  H  |  J  |  K  |  L  |  ;  |  '   |
	// |    |  Z  |  X  |  C  |  V  |  B  |    | VDN|  | VUP| OUT|  N  |  M  |  ,  |  .  |  /  | CAPS |
	//                  |  PP | TAB | NUM | SPC| NAV|  | FUN| SFT| SYM | ENT | MUTE|
	//                              |     |    |    |  |    | BSP| DEL |

        bindings = <
    &none   &kp Q         &mt LC(W) W   &kp E       &mt LC(R) R   	&mt LC(T) T                       		/**/                                    &kp Y       &mt LC(U) U	  	&mt LC(I) I &mt LC(O) O &kp P       &none
    &none   &mt LC(A) A   &mt LC(S) S   &mt LSHFT D	&mt LCTRL F		&kp G                               	/**/                                    &kp H       &mt LCTRL J		&mt LSHFT K	&kp L      	&kp SQT    	&none
    &none   &mt LC(Z) Z   &mt LC(X) X   &mt LC(C) C &mt LC(V) V   	&mt LC(B) B	&none       &kp C_VOL_DN  	/**/	&kp C_VOL_UP    &none    		&mt LC(N) N &kp M           &kp COMMA   &kp DOT     &kp FSLH    &kp CAPS
                                    	&kp C_PP    &kp TAB         &mo NUM		&kp SPACE	&mo NAV 		/**/    &mo FUN         &mt LSHFT BSPC  &lt SYM DEL	&kp ENTER       &kp C_MUTE
                        >;
            };
	};
};
